<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @hmtldemo.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @hmtldemo.body %>
</p>

<%= link_to 'Edit', edit_hmtldemo_path(@hmtldemo) %> |
<%= link_to 'Back', hmtldemos_path %>
