<h1>Listing sensor_apps</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sensor_apps.each do |sensor_app| %>
      <tr>
        <td><%= sensor_app.title %></td>
        <td><%= link_to 'Show', sensor_app %></td>
        <td><%= link_to 'Edit', edit_sensor_app_path(sensor_app) %></td>
        <td><%= link_to 'Destroy', sensor_app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sensor app', new_sensor_app_path %>
